<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport" />


    <title>Learn Tornado + jinja2</title>
</head>
<body>
    <div id="container">
        <h1 class="page_title">test tornado jinja2</h1>
        {{ person['name'] }}
    </div>


</body>
</html>
